html {
	font-size: 10px;
	font-family: 'Aldrich', sans-serif;
	background-color: #00539F;
}
h1.aldrich {
	font-family: 'Aldrich', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: .25em 0;
	text-shadow: 3px 3px 1px grey;
	font-size: 5.5em;
	color: #0c0c0c;
}
p, li {
	font-size: 14px;
	line-height: 2;
	letter-spacing: 1px;
}
body {
	width: 100%;
}
img {
	display: block;
	margin: 0 auto;
	max-width: 100%
}
header {
	width: 100%;
	background-color: #474749;
}
ul.nav {
	list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #27222c;
    height: 100%;
    overflow: auto;
}
ul.nav li {
	list-style-type: none;
	display: inline;
	float:left;
}
ul.nav li {
	diplay: inline-block;
	padding: 14px 16px;
}
ul.nav :hover {
	background-color: #654d7b;
}
#main {
	margin: 0 auto;
	padding: 0 20px 20px 20px;
}
.nav li a {
	display: inline-block;
}
.nav {
	margin: 0 auto;
}
.about {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 15px;	
}
.quotes {
	display: grid;
	grit-template-columns: 33% 33% 33%;
	grid-gap: 15px;
}
.xmas {
	background-image: url("../images/xmas.png");
	min-height: 20em;
}
blockquote.kristyna {
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 2.5em;
	margin: .25em .25em;
}

background-image: url("../../media/examples/lizard.png");